// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #18115C;
$secondary: #730DCC;
$tertiary: #1DB9D4;
$white: #FFFFFF;
$black: black;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif:"Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here